body {
    background-color: #1f1f1f;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.blue-box {
    background: #627da0;
}

.green-box {
    background: #5b8054;
}

#webpack-link:hover {
    cursor: pointer;
}
